
    section{
        width: 450px;
       height: 450px;
       text-align: center;
       margin: 50px;
       padding: 20px;
       border: 20px solid #b31255;
       background-color: #5a2042;
    }
   .Chess-ui{
      
       color:#f04747;
       font-size: 70px;
    } 
    .Chess-ui-2{
        color: #f958e3;
        font-size: 70px;
    }
   .black{
       float: left;
       width: 90px;
       height: 90px;
       background-color: #27121e;
       text-align: center;
       display: table-cell;
       vertical-align: middle;
   }
   .white{
       float: left;
       width: 90px;
       height: 90px;
       background-color: #ffffff;
       text-align: center;
       display: table-cell;
       vertical-align: middle;
   }
  